<div class="row">
    <div class="col-lg-12 col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Product Color</th>
                    <th scope="col">Product Quentity</th>
                    <th scope="col">Product Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of product">
                    <td scope="col">{{i.name}}</td>
                    <td scope="col"> {{i.desc}}</td>
                    <td scope="col">{{i.color}}</td>
                    <td scope="col" [ngStyle]="col(i.quan)">{{i.quan}}</td>
                    <td scope="col">{{i.rate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>