<div class="row">
    <div class="col-lg-12 col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Product Color</th>
                    <th scope="col">Product Quentity</th>
                    <th scope="col">Product Rate</th>
                </tr>
                <tr>
                    <th scope="col">{{nameRow}}</th>
                    <th scope="col"> {{description}}</th>
                    <th scope="col">{{color}}</th>
                    <th scope="col">{{quentity}}</th>
                    <th scope="col">{{rate}}</th>
                </tr>
            </thead>
            <tbody id="productTable"></tbody>
        </table>
    </div>
</div>