<div class="row">
    <div class="card" style="width: 18rem; margin-left: 20px" *ngFor="let i of notes">
        <div class="card-body" [ngStyle]="{'background-color': backgroundColor(i.status)}">
            <h5 class="card-title">{{i.title}}</h5>
            <p class="card-text">{{i.description}}</p>
            <button class="btn btn-primary" style="margin-left:10px; background-color: #ADFF2F; color: black;" (click)="edit(i)">Edit</button>
            <button class="btn btn-primary" style="margin-left:10px; background-color: #800000; color: white;" *ngIf="!i.status" (click)="remove(i)">Delete</button>
        </div>
    </div>
</div>